.card {
  position: inherit;
  z-index: 1;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  padding: 150px 120px 150px 120px;
  background-color: rgb(216, 216, 216);
  margin: 20px;
  border-radius: 17px;
}

.card-content {
  position: absolute;
  z-index: 2;
  width: 219px;
  margin: -137px 0px 0 -109px;
  background-color: rgb(226, 226, 226);
  height: 274px;
}

@keyframes fadeInOpacity {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

/************* TITLE BAR *************/

.content__title-bar {
  justify-content: space-between;
  margin: 4px 0px 0px -34px;
  display: flex;
}

.title {
  display: initial;
  text-align: center;
}

.rarity {
  padding: 1px 2px 0px 2px;
  border-radius: 15px;
  font-size: 10px;
  float: left;
  width: 50px;
  height: 16px;
  margin-top: 2px;
}

.name {
  font-style: italic;
  font-weight: bold;
  margin: auto;
  font-size: 14px;
}

.value {
  float: right;
  padding: 0 6px 0 19px;
  font-size: 11px;
  margin-top: 2px;
  font-weight: bold;
}

.common {
  background-color: gray;
  color: white;
}

.rare {
  background-color: rgb(0, 78, 146);
  color: white;
}

.epic {
  background-color: rgb(212, 0, 255);
  color: white;
}

.legendary {
  background: rgb(255, 240, 181);
  background: linear-gradient(
    172deg,
    rgba(255, 240, 181, 1) 0%,
    rgba(216, 158, 78, 1) 100%
  );
  color: black;
}

.mythic {
  background-color: black;
  color: white;
}

/************* IMAGES *************/

.background {
  height: 110px;
  width: 200px;
  background-size: cover;
  position: absolute;
  z-index: 3;
  margin: 9px;
  border-radius: 11px;
}

.foreground {
  height: 70px;
  width: 70px;
  background-size: cover;
  position: absolute;
  z-index: 4;
  margin: 30px 0 0px 70px;
}

/************* DESCRIPTION *************/

.content__description {
  margin: 128px 10px 10px 10px;
  font-size: 10px;
}

.des-box {
  margin-top: 12px;
}

.box__title {
  font-size: 12px;
  margin-bottom: 3px;
  font-weight: bold;
}

.box__text {
  color: rgb(82, 82, 82);
}

/************* CATEGORIES *************/

.cat-box {
  display: inline;
  margin: 3px 1px 0px 2px;
  background-color: #808080;
  padding: 0px 1px 0px 1px;
  font-size: 9px;
  color: rgb(226, 226, 226);
  font-family: Century Gothic;
  font-weight: lighter;
  border-bottom: 14px white;
}

.des-categories {
  float: right;
}

.cat-legendary {
  /* background: rgb(255, 240, 181);
  background: linear-gradient(
    172deg,
    rgba(255, 240, 181, 1) 0%,
    rgba(216, 158, 78, 1) 100%
  ); */
  background-color: rgb(34, 34, 34);
  color: rgb(197, 197, 197);
}

.cat-mythic {
  background-color: black;
}

/************* MYTHIC CARD *************/

.mythic-frame {
  background: rgb(255, 74, 3);
  background: linear-gradient(
    180deg,
    rgba(255, 74, 3, 1) 18%,
    rgba(0, 0, 0, 1) 100%
  );
}

.mythic-background {
  background-image: url("https://i.imgur.com/UnwLyiw.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 1px;
}

/************* LEGENDARY CARD *************/

.card:hover {
  transition: margin 0.2s cubic-bezier(0.56, 0.41, 0.28, 0.84);
  margin-top: 10px;
  margin-bottom: 27px;
}

.card {
  transition: margin 0.2s cubic-bezier(0.56, 0.41, 0.28, 0.84);
}
.legendary-frame {
  background-color: black;
  color: white;
}

.legendary-background {
  background-color: black;
  border: 1px solid rgba(216, 158, 78, 0.6);
  background-image: url("https://i.imgur.com/rxtfV6Q.png");
  background-size: 102%;
  background-repeat: no-repeat;
}

.legendary-background > .content__description > .des-box > .box__text {
  color: rgb(182, 182, 182) !important;
}

.legendary-background > .content__title-bar > .value-body,
.legendary-background > .content__title-bar > .value-helmet,
.legendary-background > .content__title-bar > .value-knockdown {
  background-image: url("https://i.imgur.com/hBRLHMP.png") !important;
}

.legendary-background > .content__title-bar > .value-backpack {
  background-image: url("https://i.imgur.com/P6y6xGx.png") !important;
}

/*************COMMON CARD*************/
.common-background > .item-health,
.common-background > .item-shield {
  color: rgb(128, 128, 128);
}

.common-background > .item-health > .value-health {
  background-image: url("https://i.imgur.com/TZnDo6i.png") !important;
}

.common-background > .item-shield > .value-shield {
  background-image: url("https://i.imgur.com/ElkbfBG.png") !important;
}

.common-background {
  background-image: url("https://i.imgur.com/xHJ3hgI.png");
  background-size: cover;
}

/*************RARE CARD*************/

.rare-background {
  background-image: url("https://i.imgur.com/xHJ3hgI.png");
  background-size: cover;
}

/*************EPIC CARD*************/

.epic-background {
  background-image: url("https://i.imgur.com/xHJ3hgI.png");
  background-size: cover;
}
/************* VALUE ICONS *************/

.value-body,
.value-helmet,
.value-knockdown {
  background-image: url("https://i.imgur.com/CBNw2IT.png");
  background-position: 5px 0px;
  background-size: 13px;
  background-repeat: no-repeat;
}

.value-shield {
  background-image: url("https://i.imgur.com/CXcCENy.png");
  background-position: 6px 2px;
  background-size: 14px;
  background-repeat: no-repeat;
}

.value-health {
  background-image: url("https://i.imgur.com/lHq85bf.png");
  background-position: 3px 1px;
  background-size: 13px;
  background-repeat: no-repeat;
}

.value-backpack {
  background-image: url("https://i.imgur.com/7beuAmC.png");
  background-position: 3px 1px;
  background-size: 13px;
  background-repeat: no-repeat;
}

/************* MISC CONF *************/

.item-shield {
  color: rgb(34, 74, 167);
}

.item-health {
  color: rgb(34, 74, 167);
}

.size-xxxsmall {
  font-size: 9px !important;
  padding-left: 7px;
}

.size-xxsmall {
  font-size: 10px !important;
  padding-left: 7px;
}

.size-xsmall {
  font-size: 11px !important;
  padding-left: 1px;
}

.size-small {
  font-size: 13px !important;
  padding-left: 7px;
}
