.App {
  margin: 0 20vw 0 20vw;
  background-color: antiquewhite;
  min-height: 100vh;
  padding-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 25px;
}

.header > input {
  border-radius: 20px;
  border: 2px #ffffff solid;
  padding: 10px;
  width: 20vw;
  font-size: 14px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans;
  color: rgb(65, 65, 65);
  text-align: center;
  background-color: rgb(196, 196, 196);
  margin: 770px auto 0px auto;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 480px;
  border-radius: 20px;
}

.footer > a:link,
.footer > a:visited {
  color: rgb(53, 53, 182);
  text-decoration: none;
  font-weight: 550;
}

/*
https://imgur.com/a/Necz9ka
*/
